@import '../../style/variables.scss';

.randomchar {
    display: grid;
    align-items: center;
    color: $white;
    background-color: $grey-500;
    grid-template-columns: repeat(2, 50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    &__block {
        padding: 0 20px;
        display: grid;
        grid-template-columns: 180px auto;
        column-gap: 30px;
    }
    &__img {
        border-radius: 50%;
        padding: 10px;  
        border: 2px solid $main-color;
        width: 180px;
        height: 180px;
        object-fit: cover;
    }
    &__info {
        // display: grid;
        // grid-template-rows: minmax(29px, auto) 90px 38px;
        // row-gap: 10px;
        padding-top: 3px;
    }
    &__name {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
    }
    &__descr {
        font-size: 14px;
        line-height: 18px;
    }
    &__btns {
        margin-top: 15px;
        display: flex;
        gap: 10px;
    }
    &__static {
        padding: 40px 35px;
        background-color: $dark;
        position: relative;
        button {
            margin-top: 13px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.045em;
        color: rgba($white, $alpha: 0.9);
        &:nth-child(2) {
            margin-top: 33px;
        }
    }
    &__decoration {
        position: absolute;
        bottom: 14px;
        right: -37px;
    }
}